<ul class="breadcrumb">
	<li><a href="/?locale=en">Home</a></li>
	<li><a href="/dashboard?locale=en">Dashboard</a></li>
	<li class="active">File Views and Downloads</li>
</ul>
<div>
    <div class="row">
      <div class="col-md-12">
        <div id="main-flashes">
          <div class="flash_messages">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <% if request.params['reportType'] == "usage_stats" %>
        <%= render :partial=>'file_usage' %>
      <% end %>
    </div><!--rows-->
</div><!--container-->
