<% if current_user.present? || check_for_public_docs %>
  <div class="home-recent-updates">
		<h1 id="recent-updates-heading" class="homepage-heading">Recent Updates</h1>
	  <%= render 'recently_uploaded', recent_documents: @recent_documents %>
  </div>	
  <!-- end rendering 'recent_document' with locals '[]'-->
  
  <!-- start rendering 'explore_collections' with locals '[:collections]'-->
  <div class="home-collections-list">
    <h2 class="sr-only"><%= t('hyrax.homepage.admin_sets.title') %></h2>
    <%= render 'explore_collections', collections: @presenter.collections %>
   </div>
   <!-- end rendering 'explore_collections' with locals '[:collections]'-->
<% end %>