<div id="menu-links-home-empty">
  <span><a href="/">Home</a></span>
  <% if current_user %>
    <span class="menu-links-separator">|</span>
    <span><a href="/dashboard">Dashboard</a></span>
  <% end %>
  <span class="menu-links-separator">|</span>
  <span><a href="/pages/help">Search Help</a></span>
  <% if !current_user %>
    <span class="menu-links-separator">|</span>
    <span><a href="/pages/about">About KMS</a></span>
    <span class="menu-links-separator">|</span>
    <span><a href="mailto:kms@agra.org" title="contact us">Contact</a></span>
  <% end %>
</div>