.site-footer {
	background-color: #c08e00;
	min-height: 108px;
    padding: 0;
    margin: 0;
}
.footer-text {
	color: #454545;
}
.footer-text-right {
	margin: 12px 24px 0 0;
    @media (max-width: 768px) {
		margin-top: 110px;
    }
}
.footer-text-left {
	display: inline;
}
.copyright {
	font-size: 30px;
}
#licensing {
	margin: 38px 0 0;
}
#agra-link {
	margin-right: 6px;
	color: #258bb0;
}
#footer-image {
	float: left;
	width: 178px;
	height: 118px;
	margin: -1px 0 0 -16px;
}
#footer-image-text {
	display: inline-block;
	margin: 12px 12px 0 12px;
}