<h2>AGRA Knowledge Management Portal (KMS)</h2>
<p>The AGRA Knowledge Management Portal (KMS) was developed to provide a central repository that stores all knowledge products and allows knowledge creators to upload knowledge products and knowledge users to search and retrieve any documents published by AGRA and its partners.</p>
<p>The portal contains documents since AGRA’s inception to currently.  The team continues to upload documents as they become available.</p>
<h2>The Portal</h2>
<p>
	<ul>
	    <li>Is easily accessible by all members of staff
		</li>	
	    <li>Allows for staff to upload and download documents with ease
		</li>	
	    <li>Allows staff to search for documents by:
		
			<ul>
			    <li>Commodity (e.g. Maize, Rice)
				</li>	
			    <li>Country (e.g. Ghana, Tanzania)
				</li>	
			    <li>Collection (Monitoring and Evaluation, Ethiopia Country)
				</li>	
			    <li>Language (English, Kiswahili)
				</li>					
			</ul>
		</li>	
	</ul>
</p>
<h2>Permitted Uses of the Portal</h2>
<p>All content in the AGRA KMS portal is owned by AGRA and currently accessible to internal staff at AGRA.  The current material may or may not have copyright but in cases where copyright exists, it will be included in the metadata. </p>
<p>Access is intended to benefit staff in accessing information related to AGRA investments, results from the work with partners, new innovations, best practices, key policy messages, and most importantly learning from what AGRA has accomplished so far.  This will enable the organization to grow to greater heights.  These materials can also be used for research, shape policies, resource mobilization, shaping the agriculture agenda, informing AGRA’s programs as well as sharing results with our partners in a synthesized format.  Transmission or reproduction of protected materials beyond that allowed by fair use requires the written permission from AGRA.</p>