<h1>Using the AGRA KMS</h1>

  <div class="col-12 col-sm-12 col-lg-12">
    <h2></h2>
      <p>Welcome to the AGRA KMS, the AGRA Knowledge Management Portal. This page provides you with some basic information on searching and browsing the contents of the portal.</p>
      <div class="well">
        <ul class="help-list">
          <li><a href="#started">Getting Started</a></li>
          <li><a href="#browse">Browse</a></li>
          <li><a href="#main-search">Search</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
      </div>
    <h2 class="anchor-padding-inline" id="started">Getting Started</h2>
	  <p>Most of the documents in the AGRA KMS are only available to users who have an account and sign in to use the portal. Some documents may be made public on a limited basis, though they may only be available to general users for a certain period of time.</p>
<p>The primary method of discovering the content in the portal is by using the <strong>Search</strong> feature. Users can also use the <strong>Browse</strong> options to browse by certain topics, and users who are looking for the contents of a particular collection can use the links in the <strong>Our Collections</strong> list on the home page.</p>

	<h2 class="anchor-padding-inline" id="browse">Browse</h2>
    <p>The "Browse by" box contains four options for browsing: commodity, country, language, and value chain:</p>
     <img src="/assets/agra-kms/browse1.png" width="300px" class="help-image" title="browse feature" alt="browse feature">
    <p>Click on one of the options to display the menu of choices from which you can select:</p>
    <img src="/assets/agra-kms/browse2.png" width="300px" class="help-image" title="browse feature" alt="browse feature">
    <p>When you select a browse option, the application takes you to a results page that lists the documents in the portal that match your selection:</p>
    <img src="/assets/agra-kms/browse3.png" width="500px" class="help-image" title="browse feature" alt="browse feature">
      <p>As noted above, the AGRA KMS home page includes a list of all the collections in the portal. The names of the collections are links that you can click to display the documents contained in a collection.</p>
    <img src="/assets/agra-kms/browse4.png" width="280px" class="help-image-left" title="browse feature" alt="browse feature">
    <img src="/assets/agra-kms/browse5.png" width="500px" class="help-image-left" style="margin-left:15px;" title="browse feature" alt="browse feature">

    <h2 class="anchor-padding" id="main-search" style="clear:both">Search</h2>
    <p> Search the collection by entering keywords or search terms in the Search box at the top. Users who are signed in can put additional focus on their search using the small dropdown field at the end of the Search box:</p>
    <img src="/assets/agra-kms/searchbox.png" width="300px" class="help-image" title="browse feature" alt="browse feature">
      <p>You can do a simple search by entering keywords or search terms into the Search box. By default, the search engine queries across all fields. It treats two terms as an ‘and’ search; that is, all of the terms appear somewhere in each result. For more than two terms, we recommend that you use Boolean operators -- <strong>AND</strong>, <strong>OR</strong> and <strong>NOT</strong> -- to define the terms' relationship to each other. (Remember: you must use ALL CAPS for Boolean operators). You can narrow your results by using a phrase in quotations, such as “regional trade.”</p>
      <p>Your search terms appear above your results. Click on an article title to see its full citation. You can narrow your search results further by entering more terms in the Search box, and/or by selecting terms from fields in the facet menu under ‘Limit your search’ (See <a href="#facet">Faceted Search</a> below.).  Deselect a search term by clicking on the ‘X’ next to it.</p>
      <p>Search results are ranked by relevance, though you can change this to a date-driven ranking. You can also change the default display of 10 results per page to 20, 50 or 100. Click on Start Over to clear all limits and search terms before initiating a new search. Use the &lt;&lt;Previous and Next&gt;&gt; options at the top or bottom of the window to navigate between pages, or click on a page number at the bottom of the window.</p>
    <img src="/assets/agra-kms/controls.png" width="500px" class="help-image" title="browse feature" alt="browse feature">

        <h3 class="anchor-padding" id="facet">Faceted Search</h3>
        <p>The facet menu enables you to facet searching and browsing to quickly limit, refine or narrow your search for more relevant results. The facet panel is located under ‘Limit your search’ heading:</p>
	    <img src="/assets/agra-kms/facet1.png" width="250px" class="help-image" title="browse feature" alt="browse feature">

<p>Depending on the search results, the available facets include: </p>
        <ul class="help-list">
            <li>Keyword</li>
            <li>Resource Type</li>
            <li>Author</li>
            <li>Contributor</li>
            <li>Language</li>
            <li>Geographic Location</li>
            <li>Journal</li>
            <li>Collection</li>
        </ul>
        <p>Click on a facet name, such as Keyword, to open it. Click on ‘more’ to access all available terms. Click on a term to select it.  Allow your search results to refresh. You should see fewer results. Deselect a term by clicking on the ‘X’ to the right of the term. Select multiple terms within a facet to narrow or refine your results further.</p>
        <p> (The exception to this is Publication Year, which only allows you to select one year at a time.)</p>

    <h2 id="faq" class="anchor-padding-inline">FAQ</h2>
      <p><strong>I have a specific document in mind. What’s the fastest way to find it?</strong></p>
      <p>Your quickest option is to use the Search box. If you know the title, or even a part of the title, enter that in the Search box and click the Search button.</p>
      <p><strong>How do I open an article?</strong></p>
      <p>Click on the title of a document in the search results, which takes you to the detail page for that document. If the document can be downloaded, you will see a <strong>download PDF</strong> link. Click that link to open the full-text of the document.</p>
      <p><strong>How do I find an article by using a specific keyword or subject?</strong></p>
      <p>If you have a particular subject or keywords in mind (e.g., disease resistance), you can use the Search box on the Home page. Simply enter your terms or keywords to return a list of articles that contain these terms in their citation. You can also select keywords from the facet menu to narrow your results.</p>
      <p><strong>How do I search when I'm looking for variations of a term? Say I want to find articles on farms or farmers or farming in Sudan?</strong></p>
      <p>The AGRA KMS automatically searches for grammatical variations on words.</p>
      <p><strong>How do I search for a phrase?</strong></p>
      <p>Simply type in your phrase in quotation marks, such as "pest management" to search for all documents with that phrase.</p>
      <p><strong>What is a facet?</strong></p>
      <p>A facet is an additional term or criteria that is created by an auto-tagging program and gets added to a search to narrow the scope of the original search. A search on "cassava," for example, is very general and will produce a large number of search results. Adding a Value Chain facet of "Seed Systems" to that same search will refine the search and reduce the number of search results.</p>
      <p><strong>I have unanswered questions about using the AGRA KMS. How can I get more help?</strong></p>
      <p>If after reading the Help section you still have a question, please contact the AGRA KMS team via email, at <a href="mailto:kms@agra.org" title="contact us">kms@agra.org</a></p>

</div>
