<% unless params[:controller].include?("users") || params[:controller].include?("roles")%>
<div class="container-fluid searchform-container">
  <div class="container">
    <div class="row">
      <div class="searchbar-left col-sm-7 col-md-6">
        <%= render partial: 'catalog/search_form' %>
      </div>
    </div>
  </div>
  <div id="menu-links-controls">
 	  <span><a href="/">Home</a></span>
	  <span class="menu-links-separator">|</span>
	  <span><a href="/dashboard">Dashboard</a></span>
	  <% if params[:controller] == "hyrax/collections"%>
	    <span class="menu-links-separator">|</span>
	    <span><a href="/dashboard/collections">Collections</a></span>
	  <% elsif params[:controller] == "hyrax/generic_works"%>
	    <span class="menu-links-separator">|</span>
		<span><a href="/dashboard/works">Works</a></span>
	  <% end %>
	  <span class="menu-links-separator">|</span>
	  <span><a href="#">Search Help</a></span>
  </div>
</div>
<% end %>
