<nav id="masthead" class="navbar navbar-static-top" role="navigation" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= render '/logo' %>

    </div>

    <div class="navbar-collapse" id="top-navbar-collapse">
      <%= render '/user_util_links' %>
    </div>
  </div>
</nav>

<!-- style='background: url(/assets/agra-kms/pt-caption-logo.png) center no-repeat, url("/assets/agra-kms/agra-logo.png") 10px 10px no-repeat;background-size: 52%, 11%;' -->